<section class="features">
  <article class="section-container">
    <div class="content">
      <div class=phone-element>
        <img src="/assets/images/phone_mockup.webp" alt="Responsive App Image">
      </div>
      <div class="info-element">
        <div class="text-element">
          <h3 class="title">A developer who makes <span class="black-outline">adaptative Interfaces_</span></h3>
          <p class="text">
            Prioritizing performance, accessibility and usability, I craft user-friendly interfaces that accommodate
            all users,
            regardless of their device. My responsive design expertise showcases my commitment to adaptable,
            user-centric interfaces
            in a multi-device era.
          </p>
        </div>
        <div class="cards-element">
          <div class="feature-card">
            <img class="feature-icon" src="assets/images/responsive-icon.svg" alt="Responsiveness Icon" width="38.09px"
              height="36.44px">
            <p>Responsiveness</p>
          </div>
          <div class="feature-card">
            <img class="feature-icon" src="assets/images/acces-icon.svg" alt="Responsiveness Icon" width="42.51px"
              height="42.54px">
            <p>Accesibility</p>
          </div>
          <div class="feature-card">
            <img class="feature-icon" src="assets/images/performance-icon.svg" alt="Responsiveness Icon" width="40.6px"
              height="37.24px">
            <p>Performance</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
