<footer>
  <article class="section-container">
    <div class="content">
      <div class="info-element">
        <div class="text-element">
          <h2 class="white-element">Let's talk!</h2>
          <p class="white-element">Are you interested in developing projects that stands out?
            Don't be shy and send me a mail!</p>
        </div>
        <div class="contact-element">
          <a href="">pasiflora.freelance&#64;gmail.com</a>
          <a href="">(+57) 323 295 38 43</a>
        </div>
      </div>
      <div class="form-element">
        <app-form [formGroup]="form">

          <app-text-input fieldID="contact-name" label="Name" type="text" [control]="name">
            <app-field-error error [validation]="(name.touched && name.value === '')" alert="This field is required" />
          </app-text-input>

          <app-text-input fieldID="contact-email" label="Email" type="text" [control]="email">
            <app-field-error error [validation]="(email.touched && email.value === '')"
              alert="This field is required" />
            <app-field-error error [validation]="(email.dirty && email.invalid && email.value !== '')"
              alert="Enter a valid email address" />
          </app-text-input>

          <app-textarea-input [control]="message">
            <app-field-error error [validation]="(message.touched && message.value === '')"
              alert="This field is required" />
          </app-textarea-input>

          <div class="form-row">
            <app-checkbox-input [control]="terms">
              <app-field-error error [validation]="terms.touched && terms.value !== true"
                alert="You must accept the privacy policy in order to send a message managed by" />
            </app-checkbox-input>

            <app-submit-button text="Get in touch" />
          </div>
        </app-form>
      </div>
    </div>
  </article>
  <article class="copyright"></article>
</footer>
