<footer>
  <article class="section-container">
    <div class="content">
      <div class="info-element">
        <div class="text-element">
          <h2 class="white-element">Let's talk!</h2>
          <p class="white-element">Are you interested in developing projects that stands out?
          Don't be shy and send me a mail!</p>
        </div>
        <div class="contact-element">
          <a href="">pasiflora.freelance&#64;gmail.com</a>
          <a href="">(+57) 323 295 38 43</a>
        </div>
      </div>
      <div class="form-element">
        <form action="">

          <div class="form-field">
            <div class="input-container">
              <input class="white-element" type="text" id="contact-name" required>
              <label class="white-element" for="contact-name">Name</label>
              <div class="underline"></div>
            </div>
            <span class="form-error" [hidden]="true">Error my broki</span>
          </div>

          <div class="form-field">
            <div class="input-container">
              <input class="white-element" type="text" id="contact-email" required>
              <label class="white-element" for="contact-email">Email</label>
              <div class="underline"></div>
            </div>
            <span class="form-error" [hidden]="true">Error my broki</span>
          </div>

          <div class="form-field">
            <div class="input-container">
              <textarea class="white-element" name="" id="" cols="30" rows="5" id="contact-message" required></textarea>
              <label class="white-element" for="contact-message">Message</label>
              <div class="underline"></div>
            </div>
            <span class="form-error" [hidden]="true">Error my broki</span>
          </div>

          <button>Get  in touch <img src="" alt=""></button>
        </form>
      </div>
    </div>
  </article>
  <article class="copyright"></article>
</footer>
