:host {
  display: block;
  position: fixed;
  transform-origin: left top;
  bottom: calc(24vh - 2.177rem);
  left: calc(5% - 2.75rem - (2.125rem/4));
  transform: rotate(-90deg);
  z-index: var(--z-index-fixed-elements);
  mix-blend-mode: difference;
  user-select: none;
}

.social-media {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 2.177rem;

  &--icons {
    display: flex;
    flex-direction: row-reverse;


    .media-icon {
      scale: .8;
      margin-left: 2.2rem;
      cursor: pointer;
      transform: rotate(90deg);
    }
  }

  .follow-me {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--container {
      border-right: .1rem solid var(--main-white);
      transform: rotate(0deg);
      width: 8.5rem;


      .follow-me--text {
        color: var(--main-white);
        font-weight: 200;
        font-size: 1.5rem;
      }
    }
  }
}
