<aside class="social-media">
  <div class="social-media--icons">
    <img src="assets/images/twitter_white.svg" class="media-icon" alt="Twitter">
    <img src="assets/images/facebook_white.svg" class="media-icon" alt="Facebook">
    <img src="assets/images/instagram_white.svg" class="media-icon" alt="Instagram">
    <img src="assets/images/github_white.svg" class="media-icon" alt="Github">
    <img src="assets/images/linkedin_white.svg" class="media-icon" alt="Linkedin">
    <img src="assets/images/behance_white.svg" class="media-icon" alt="Behance">
  </div>
  <div class="follow-me">
    <div class="follow-me--container">
      <p class="follow-me--text">follow me</p>
    </div>
  </div>
</aside>
