<section class="caracteristics">
  <article class="section-container">
    <div class="content">
      <div class="title-element">
        <h3 class="title white-element">A developer who cares in creating <br> products that <span
            class="green-outline">genuinely serves the user_</span></h3>
      </div>
      <div class="grid-element">
        <div class="caracteristics-element">
          <div class="card caracteristic-card__featured">
            <div class="card-content">
              <img src="/assets/images/interactivity-icon.svg" alt="Interactivity Icon">
              <h4>Interactivity interfaces <br> and user Flow</h4>
            </div>
          </div>
          <div class="card caracteristic-card">
            <div class="card-content card-content__down">
              <img src="/assets/images/improvement-icon.svg" alt="Improvement Icon">
              <h4>Continuous <br> improvement</h4>
            </div>
          </div>
          <div class="card caracteristic-card">
            <div class="card-content">
              <img src="/assets/images/testing-icon.svg" alt="Testing Icon">
              <h4>Testing and <br> analysis</h4>
            </div>
            <div class="not-aviable-yet">
              <img src="/assets/images/x.svg" alt="Not aviable yet">
            </div>
          </div>
        </div>
        <div class="buttons-element">
          <a class="caracteristic-button" href="#">
            <div class="redirection-indicator">
              <div class="icon-container">
                <img src="/assets/images/see-more-icon-white.svg" alt="See my work icon">
              </div>
              <p>See my work</p>
            </div>
            <img class="redirect-icon" src="/assets/images/go-to-section-icon.svg" alt="Go to section icon">
          </a>
          <a class="caracteristic-button" href="#">
            <div class="redirection-indicator">
              <div class="icon-container">
                <img src="/assets/images/user-icon.svg" alt="User icon">
              </div>
              <p>Get in touch</p>
            </div>
            <img class="redirect-icon" src="/assets/images/go-to-section-icon.svg" alt="Go to section icon">
          </a>
        </div>
      </div>
    </div>
  </article>
</section>
