.form-error {
  margin-top: .5rem;
  transform-origin: top left;
  opacity: .5;
  color: var(--main-green);
  scale: .8;
  display: flex;
  gap: 1rem;
  max-width: 40rem;
  font-size: var(--fs-200);

  &[hidden] {
    display: none !important;
  }

  img {
    width: 1.8rem;
    align-self: baseline;
    margin-top: .2rem;
  }
}
