<aside class="social-media" id="aside-social-media">
  <div class="social-media--icons">
    <a class="media-icon" href="https://twitter.com/francoder__" target="_blank">
      <img src="assets/images/twitter_white.svg" alt="Twitter" width="21.9844px" height="18.0938px">
    </a>
    <a class="media-icon" href="https://www.facebook.com/PassifloraFreelance" target="_blank">
      <img src="assets/images/facebook_white.svg" alt="Facebook" width="11.6406px" height="21.4844px">
    </a>
    <a class="media-icon" href="https://www.instagram.com/francoder_/" target="_blank">
      <img src="assets/images/instagram_white.svg" alt="Instagram" width="21.9844px" height="21.9844px">
    </a>
    <a class="media-icon" href="https://github.com/GiacomoFranco" target="_blank">
      <img src="assets/images/github_white.svg" alt="Github" width="22.0938px" height="21.6406px">
    </a>
    <a class="media-icon" href="https://www.linkedin.com/in/santiagogilfranco/" target="_blank">
      <img src="assets/images/linkedin_white.svg" alt="Linkedin" width="20.0469px" height="20px">
    </a>
    <a class="media-icon" href="https://www.behance.net/GiacomoFranco" target="_blank">
      <img src="assets/images/behance_white.svg" alt="Behance" width="23.5156px" height="14.7031px">
    </a>
  </div>
  <div class="follow-me">
    <div class="follow-me--container">
      <p class="follow-me--text">follow me</p>
    </div>
  </div>
</aside>
