<aside class="social-media" id="aside-social-media">
  <div class="social-media--icons">
    <a class="media-icon" href="https://twitter.com/francoder__" target="_blank">
      <img src="assets/images/twitter_white.svg" alt="Twitter">
    </a>
    <a class="media-icon" href="https://www.facebook.com/PassifloraFreelance" target="_blank">
      <img src="assets/images/facebook_white.svg" alt="Facebook">
    </a>
    <a class="media-icon" href="https://www.instagram.com/francoder_/" target="_blank">
      <img src="assets/images/instagram_white.svg" alt="Instagram">
    </a>
    <a class="media-icon" href="https://github.com/GiacomoFranco" target="_blank">
      <img src="assets/images/github_white.svg" alt="Github">
    </a>
    <a class="media-icon" href="https://www.linkedin.com/in/santiagogilfranco/" target="_blank">
      <img src="assets/images/linkedin_white.svg" alt="Linkedin">
    </a>
    <a class="media-icon" href="https://www.behance.net/GiacomoFranco" target="_blank">
      <img src="assets/images/behance_white.svg" alt="Behance">
    </a>
  </div>
  <div class="follow-me">
    <div class="follow-me--container">
      <p class="follow-me--text">follow me</p>
    </div>
  </div>
</aside>
