:host{
  color: white;
  display: block;
  position: relative;
}

.banner{
  background-color: var(--main-black);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .content{
    justify-content: start;
    align-items: end;
    padding-bottom: 24vh;

    .title-element{
      max-width: 86.9rem;

      .title{
        font-size: clamp(1.8rem, var(--grow-ratio) , 15.6rem );
        line-height: 0.8245em;
      }
    }
  }

}

.banner-2{
  background-color: white;
  font-size: 25px;
font-weight: 100;
  color: var(--main-black);
}
