<main>
  <section class="banner">
    <article class="section-container">
      <div class="content">
        <div class="title-element">
          <h1 appScrollReveal class="title white-element" id="bannerTitle">
            Hi there,<br>
            I'm<br>
            Francoder<strong class="green-outline">_</strong>
          </h1>
        </div>
      </div>
    </article>
  </section>

  <!-- <section class="introduction">
    <article class="section-container">
      <div class="content">
        <div class="title-element">
          <h2 class="title black-element">
            I make <span class="black-outline">memorable interfaces</span> <br>
            that <span class="black-outline">makes impact_</span>
          </h2>
        </div>
      </div>
    </article>
  </section> -->

  <section class="about">
    <article class="section-container">
      <div class="content">
        <div class="overview-element">
          <div class="text-element">
            <h2 class="title black-element">I'm a Frontend <span class="black-outline">Developer_</span></h2>
            <p class="text black-element">
              I'm a <b>highly skilled frontend developer</b> who's truly passionate about coding and continuous
              learning.
              <br><br>
              <b>My focus is on creating captivating user interfaces and enhancing user experiences.</b> In this
              ever-evolving field, I'm a
              catalyst for progress, pushing boundaries to deliver the best results 💪🏻🤗.
            </p>
          </div>
          <div class="developer-element">
            <div class="shape">
              <img src="/assets/images/person.png" alt="Francoder" class="developer">
            </div>
          </div>
        </div>
        <div class="metrics-element">
          <div class="metric">
            <h4 class="metric-counter black-element">+15 <span class="black-element">proyectos</span></h4>
            <p class="metric-text black-element">I've been working around 15 Projects in which I had the opportunity of
              develop and apply my skills in a profesional field.</p>
          </div>
          <div class="metric">
            <h4 class="metric-counter black-element">+5 <span class="black-element">years</span></h4>
            <p class="metric-text black-element">More than 5 years creating user experience and eye catching interfaces
              from design to development</p>
          </div>
          <div class="metric">
            <h4 class="metric-counter black-element">+2 <span class="black-element">companys</span></h4>
            <p class="metric-text black-element">I have applied value to 2 Companys
              who witnessed my commitment</p>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="features">
    <article class="section-container">
      <div class="content">
        <div class=phone-element>

        </div>
        <div class="info-element">
          <div class="text-element">
            <h3 class="title black-element">A developer who makes <span class="black-outline">adaptative Interfaces_</span></h3>
            <p class="text black-element">
              Prioritizing performance, accessibility and usability, I craft user-friendly interfaces that accommodate all users,
              regardless of their device. My responsive design expertise showcases my commitment to adaptable, user-centric interfaces
              in a multi-device era.
            </p>
          </div>
          <div class="cards-element">
            <div class="feature-card">
              <img src="" alt="">
              <p>Responsiveness</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</main>
