<main>
  <section class="banner">
    <article class="section-container">
      <div class="content">
        <div class="title-element">
          <h1 class="title">Hi there,<br> I'm <br> Francoder<span class="green-outline">_</span> </h1>
        </div>
      </div>
    </article>
  </section>
  <section class="banner banner-2">
    <article class="section-container">
      <div></div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem beatae omnis ipsum hic voluptatibus, odio facere consequuntur illum similique adipisci quos tenetur molestias minus placeat ad nostrum repellendus facilis fuga.</p>
    </article>
  </section>
</main>
