<main>
  <section class="banner">
    <article class="section-container">
      <div class="content">
        <div class="title-element">
          <h1 appScrollReveal class="title white-element" id="bannerTitle">
            Hi there,<br>
            I'm<br>
            Francoder<strong class="green-outline">_</strong>
          </h1>
        </div>
      </div>
    </article>
  </section>
  <section class="banner banner-2" >
    <article class="section-container">
      <div><p class="black-element">
        Prioritizing performance, accessibility and usability, I craft user-friendly interfaces that accommodate all users,
        regardless of their device. My responsive design expertise showcases my commitment to adaptable, user-centric interfaces
        in a multi-device era.
      </p></div>
    </article>
  </section>
</main>
