<section class="projects">
  <article class="section-container">
    <div class="content">
      <div class="title-element">
        <h3 class="title white-element">There's a few examples of what can I do, <br> <span class="green-outline">a
            glimpse of my work_</span></h3>
      </div>
      <div class="projects-element">
        <div class="grid-element">
          <div class="card project-card">
            <div class="card-content">
              <h4 class="project-title">Mine <br>Marketplace</h4>
              <app-simple-button [buttonOptions]='projects.projectCards.button' />
            </div>
          </div>
          <div class="bottom-grid">
            <div class="card project-card">
              <div class="card-content">
                <h4 class="project-title">Mine <br>Marketplace</h4>
                <app-simple-button [buttonOptions]='projects.projectCards.button' />
              </div>
            </div>
            <div class="card project-card">
              <div class="card-content">
                <h4 class="project-title">Mine <br>Marketplace</h4>
                <app-simple-button [buttonOptions]='projects.projectCards.button' />
              </div>
            </div>
          </div>
        </div>
        <app-simple-button [buttonOptions]="projects.projectRedirect" />
      </div>
    </div>
  </article>
</section>
