@import 'mixins';

.projects {
  background-color: var(--main-black);
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 18.9rem 0 9.8rem 0;

  .content {
    flex-direction: column;
    gap: 5rem;

    .projects-element {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .grid-element {
        display: flex;
        flex-direction: column;
        max-height: 69rem;
        min-height: 59rem;
        flex-basis: 34vw;
        flex-grow: 1;
        gap: 1rem;

        .bottom-grid {
          display: flex;
          flex-grow: 1;
          gap: 1rem;
        }
      }

      app-simple-button {
        align-self: flex-end;
      }

      @include for-tablet-portrait {
        .grid-element {
          max-height: initial;

          .project-card {
            flex-basis: initial;
            flex-grow: 1;
          }

          .bottom-grid {
            display: flex;
            flex-direction: column;
          }
        }
      }

    }
  }
}
