@import 'mixins';

:host {
  --scrollbar-path-width-height: 0.74em;

  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: -0.65em;
  z-index: var(--z-index-fixed-elements);
  font-size: clamp(20rem, 19.4vw, 39.8rem);


  @include for-tablet-portrait {
    display: none;
  }

}

.scroll {
  max-width: 7rem, var(--grow-ratio), 22rem;
  max-height: 7rem, var(--grow-ratio), 22rem;

  .outside-path {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 1em;
  }

  .inside-path {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: var(--scrollbar-path-width-height);
    width: var(--scrollbar-path-width-height);
    mix-blend-mode: color !important;

    #scrollbar {
      width: calc(var(--scrollbar-path-width-height) + .2rem);
      height: calc(var(--scrollbar-path-width-height) + .2rem);
      border: 0.3rem solid var(--main-green);
      transform: rotate(10deg);

      clip-path: polygon(50% 50%, 15% 0%, 0% 0%, 0% 15%);
      z-index: 50;
    }
  }

  .circle-path {
    border: .1rem solid var(--light-gray);
    border-radius: 50%;
  }
}
