@import 'mixins';

* {
  font-family: 'GalanoGrotesque', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --max-width: 1521px;
  --grow-ratio: 7.7vw;
  --z-index-fixed-elements: 10;

  --main-black: #09090B;
  --main-green: #DCFF00;
  --main-white: #FFFFFF;
  --main-gray: #757575;
  --light-gray: #9C9C9C;
  --dark-gray: #2E2E31;
  --main-white-opacity: #ffffffdc;
  --main-black-opacity: #000000f2;
  --secondary-black-opacity: rgb(0, 0, 0.637);

  --fs-xl: clamp(9.8rem, var(--grow-ratio), 14.6rem);
  --fs-900: clamp(1.8rem, var(--grow-ratio), 10.4rem);
  --fs-800: clamp(5.8rem, 5.3vw, 8.2rem);
  --fs-700: clamp(1.8rem, var(--grow-ratio), 7.2rem);
  --fs-600: clamp(3.8rem, 5.3vw, 5.4rem);
  --fs-500: clamp(4.7rem, 3.1vw, 5rem);
  --fs-450: clamp(2.7rem, 3.1vw, 4.5rem);
  --fs-400: clamp(1.7rem, 1.2vw, 2.2rem);
  --fs-300: clamp(2.5rem, 2.3vw, 3.1rem);
  --fs-200: clamp(1.7rem, 1.2vw, 1.8rem);
  --fs-100: clamp(1.8rem, var(--grow-ratio), 1.5rem);

  @include for-small-tablet-portrait {
    --grow-ratio: 13vw;
    --fs-xl: clamp(4.8rem, var(--grow-ratio), 8.6rem);
  }

  @include for-tablet-portrait {
    --fs-800: clamp(3.8rem, 11.3vw, 8.2rem);
  }

  @include for-small-tablet-portrait {
    --fs-600: clamp(4.8rem, 5.3vw, 5.4rem);
  }

  @include for-phone-only {
    --fs-500: clamp(3.7rem, 3.1vw, 5rem);
    --fs-400: clamp(1.7rem, 1.2vw, 2.2rem);
  }
}

html {
  font-size: 1.6rem;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none !important;
}

section {
  display: flex;
}

h1 {
  font-size: var(--fs-xl);
  font-weight: 800;
  line-height: 0.89em;
}

h2 {
  font-size: var(--fs-800);
  font-weight: 800;
  line-height: 0.85em;
}

h3 {
  font-size: var(--fs-600);
  font-weight: 800;
  line-height: 1em;
}

h4 {
  font-size: var(--fs-300);
  font-weight: 600;
  line-height: 1em;
}

p,
pre {
  font-size: var(--fs-400);
  font-weight: 200;
  line-height: 1.2em;
}

.section-container {
  max-width: var(--max-width);
  height: 100%;
  flex-grow: 1;
  margin: 0 clamp(7rem, var(--grow-ratio), 22rem);

  @include for-small-tablet-portrait {
    margin: 0 1.8rem;
  }

  .content {
    display: flex;
    height: 100%;
    width: 100%;
  }
}

::selection {
  background: var(--main-black-opacity);
  color: var(--main-white) !important;
}

img::selection {
  background: var(--secondary-black-opacity);
}

.white-element {
  color: var(--main-white);
}

.white-element::selection,
.white-element br::selection,
.white-element div::selection,
.white-element div span::selection {

  background: var(--main-white-opacity);
  color: var(--main-black) !important;
}

.arrow-icon {
  aspect-ratio: 1 / 0.8;
  height: .885rem;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
  appearance: initial;
}

@supports not (-webkit-text-stroke: var(--main-green)) {
  .green-outline {
    color: var(--main-black);
    text-shadow:
      .1rem .1rem 0 var(--main-green),
      -.1rem .1rem 0 var(--main-green),
      -.1rem -.1rem 0 var(--main-green),
      .1rem -.1rem 0 var(--main-green);

    &::selection {
      color: var(--main-green);
      background: var(--main-white-opacity);
      text-shadow:
        .1rem .1rem 0 var(--main-black),
        -.1rem .1rem 0 var(--main-black),
        -.1rem -.1rem 0 var(--main-black),
        .1rem -.1rem 0 var(--main-black);
    }
  }

  .black-outline {
    color: var(--main-white);
    text-shadow:
      .1rem .1rem 0 var(--main-black),
      -.1rem .1rem 0 var(--main-black),
      -.1rem -.1rem 0 var(--main-black),
      .1rem -.1rem 0 var(--main-black);

    &::selection {
      color: var(--main-black);
      background: var(--main-black-opacity);
      text-shadow:
        .1rem .1rem 0 var(--main-white),
        -.1rem .1rem 0 var(--main-white),
        -.1rem -.1rem 0 var(--main-white),
        .1rem -.1rem 0 var(--main-white);
    }
  }

  .white-outline {
    color: var(--main-black);
    text-shadow:
      .1rem .1rem 0 var(--main-white),
      -.1rem .1rem 0 var(--main-white),
      -.1rem -.1rem 0 var(--main-white),
      .1rem -.1rem 0 var(--main-white);

    &::selection {
      color: var(--main-white);
      background: var(--main-white-opacity);
      text-shadow:
        .1rem .1rem 0 var(--main-black),
        -.1rem .1rem 0 var(--main-black),
        -.1rem -.1rem 0 var(--main-black),
        .1rem -.1rem 0 var(--main-black);
    }
  }

}

.green-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .1rem var(--main-green);

  &::selection {
    background: var(--main-white-opacity);
    -webkit-text-stroke: .1rem var(--main-black);
  }
}

.black-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .1rem var(--main-black);

  &::selection {
    background: var(--main-black-opacity);
    -webkit-text-stroke: .1rem var(--main-white);
  }
}

.white-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .1rem var(--main-white);

  &::selection {
    background: var(--main-white-opacity);
    -webkit-text-stroke: .1rem var(--main-black);
  }
}


/* Fonts
--------------------------------------------- */

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('assets/fonts/GalanoGrotesque/GalanoGrotesqueBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('assets/fonts/GalanoGrotesque/GalanoGrotesqueExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('assets/fonts/GalanoGrotesque/GalanoGrotesqueExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('assets/fonts/GalanoGrotesque/GalanoGrotesqueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('assets/fonts/GalanoGrotesque/GalanoGrotesqueLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('assets/fonts/GalanoGrotesque/GalanoGrotesqueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('assets/fonts/GalanoGrotesque/GalanoGrotesqueRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('assets/fonts/GalanoGrotesque/GalanoGrotesqueSemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
