<main>
  <section class="banner">
    <article class="section-container">
      <div class="content">
        <div class="title-element">
          <h1 appScrollReveal class="title white-element" id="bannerTitle">
            Hi there,<br>
            I'm<br>
            Francoder<strong class="green-outline">_</strong>
          </h1>
        </div>
      </div>
    </article>
  </section>

  <!-- <section class="introduction">
    <article class="section-container">
      <div class="content">
        <div class="title-element">
          <h2 class="title black-element">
            I make <span class="black-outline">memorable interfaces</span> <br>
            that <span class="black-outline">makes impact_</span>
          </h2>
        </div>
      </div>
    </article>
  </section> -->

  <section class="about">
    <article class="section-container">
      <div class="content">
        <div class="overview-element">
          <div class="text-element">
            <h2 class="title">I'm a Frontend <span class="black-outline">Developer_</span></h2>
            <p class="text">
              I'm a <b>highly skilled frontend developer</b> who's truly passionate about coding and continuous
              learning.
              <br><br>
              <b>My focus is on creating captivating user interfaces and enhancing user experiences.</b> In this
              ever-evolving field, I'm a
              catalyst for progress, pushing boundaries to deliver the best results 💪🏻🤗.
            </p>
          </div>
          <div class="developer-element">
            <div class="shape">
              <img src="/assets/images/person.png" alt="Francoder" class="developer">
            </div>
          </div>
        </div>
        <div class="metrics-element">
          <div class="metric">
            <h4 class="metric-counter">+15 <span>proyectos</span></h4>
            <p class="metric-text">I've been working around 15 Projects in which I had the opportunity of
              develop and apply my skills in a profesional field.</p>
          </div>
          <div class="metric">
            <h4 class="metric-counter">+5 <span>years</span></h4>
            <p class="metric-text">More than 5 years creating user experience and eye catching interfaces
              from design to development</p>
          </div>
          <div class="metric">
            <h4 class="metric-counter">+2 <span>companys</span></h4>
            <p class="metric-text">I have applied value to 2 Companys
              who witnessed my commitment</p>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="features">
    <article class="section-container">
      <div class="content">
        <div class=phone-element>

        </div>
        <div class="info-element">
          <div class="text-element">
            <h3 class="title">A developer who makes <span class="black-outline">adaptative Interfaces_</span></h3>
            <p class="text">
              Prioritizing performance, accessibility and usability, I craft user-friendly interfaces that accommodate
              all users,
              regardless of their device. My responsive design expertise showcases my commitment to adaptable,
              user-centric interfaces
              in a multi-device era.
            </p>
          </div>
          <div class="cards-element">
            <div class="feature-card">
              <img class="feature-icon" src="assets/images/responsive-icon.svg" alt="Responsiveness Icon"
                width="38.09px" height="36.44px">
              <p>Responsiveness</p>
            </div>
            <div class="feature-card">
              <img class="feature-icon" src="assets/images/acces-icon.svg" alt="Responsiveness Icon" width="42.51px"
                height="42.54px">
              <p>Accesibility</p>
            </div>
            <div class="feature-card">
              <img class="feature-icon" src="assets/images/performance-icon.svg" alt="Responsiveness Icon"
                width="40.6px" height="37.24px">
              <p>Performance</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="caracteristics">
    <article class="section-container">
      <div class="content">
        <div class="title-element">
          <h3 class="title white-element">A developer who cares in creating <br> products that <span
              class="green-outline">genuinely serves the user_</span></h3>
        </div>
        <div class="grid-element">
          <div class="caracteristics-element">
            <div class="card caracteristic-card__featured">
              <div class="card-content">
                <img src="/assets/images/interactivity-icon.svg" alt="Interactivity Icon">
                <h4>Interactivity interfaces <br> and user Flow</h4>
              </div>
            </div>
            <div class="card caracteristic-card">
              <div class="card-content card-content__down">
                <img src="/assets/images/improvement-icon.svg" alt="Improvement Icon">
                <h4>Continuous <br> improvement</h4>
              </div>
            </div>
            <div class="card caracteristic-card">
              <div class="card-content">
                <img src="/assets/images/testing-icon.svg" alt="Testing Icon">
                <h4>Testing and <br> analysis</h4>
              </div>
              <div class="not-aviable-yet">
                <img src="/assets/images/x.svg" alt="Not aviable yet">
              </div>
            </div>
          </div>
          <div class="buttons-element">
            <a class="caracteristic-button" href="#">
              <div class="redirection-indicator">
                <div class="icon-container">
                  <img src="/assets/images/see-more-icon-white.svg" alt="See my work icon">
                </div>
                <p>See my work</p>
              </div>
              <img class="redirect-icon" src="/assets/images/go-to-section-icon.svg" alt="Go to section icon">
            </a>
            <a class="caracteristic-button" href="#">
              <div class="redirection-indicator">
                <div class="icon-container">
                  <img src="/assets/images/user-icon.svg" alt="User icon">
                </div>
                <p>Get in touch</p>
              </div>
              <img class="redirect-icon" src="/assets/images/go-to-section-icon.svg" alt="Go to section icon">
            </a>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="projects">
    <article class="section-container">
      <div class="content">
        <div class="title-element">
          <h3 class="title white-element">There's a few examples of what can I do, <br> <span class="green-outline">a
              glimpse of my work_</span></h3>
        </div>
        <div class="projects-element">
          <div class="grid-element">
            <div class="card project-card">
              <div class="card-content">
                <h4 class="project-title">Mine <br>Marketplace</h4>
                <app-simple-button [buttonOptions]='projects.projectCards.button'/>
              </div>
            </div>
            <div class="bottom-grid">
              <div class="card project-card">
                <div class="card-content">
                  <h4 class="project-title">Mine <br>Marketplace</h4>
                  <app-simple-button [buttonOptions]='projects.projectCards.button'/>
                </div>
              </div>
              <div class="card project-card">
                <div class="card-content">
                  <h4 class="project-title">Mine <br>Marketplace</h4>
                  <app-simple-button [buttonOptions]='projects.projectCards.button'/>
                </div>
              </div>
            </div>
          </div>
          <app-simple-button [buttonOptions]="projects.projectRedirect"/>
        </div>
      </div>
    </article>
  </section>
</main>
