@import 'mixins';

:host {
  display: block;
  position: relative;
}

.banner {
  color: var(--main-white);
  background-color: var(--main-black);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .content {
    justify-content: start;
    align-items: end;
    padding-bottom: 24vh;

    .title-element {

      .title {
        font-size: var(--fs-xl);
        line-height: 0.8245em;
        font-weight: 800;
      }

      @include for-small-tablet-portrait {
        flex-grow: 1;
      }
    }
  }

}

.introduction {
  background-color: var(--main-white);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .content {
    justify-content: center;
    align-items: center;

    .title-element {
      .title {
        text-align: center;
      }
    }
  }
}

.about {
  background-color: var(--main-white);
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 18.9rem 0 9.8rem 0;

  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    .overview-element {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 2re3;

      .text-element {
        flex-grow: 1;

        .title {
          margin-bottom: 5rem;
        }
      }

      .developer-element {
        flex-grow: 1;
        flex-basis: 39.98%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .shape {
          position: relative;
          border-radius: 45.3%/57.5% 0 0 0;
          border: .1rem solid var(--light-gray);
          aspect-ratio: 50.7 / 40;
          max-width: 45.7rem;
          width: 100%;
          height: auto;

          .developer {
            position: absolute;
            bottom: 0;
            width: 100%;
          }
        }
      }
    }

    .metrics-element {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      width: 100%;

      .metric {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-grow: 1;
        max-width: 28.36%;
        flex-basis: 33.8rem;
        min-width: 33.1rem;

        &-counter {
          font-size: var(--fs-500);

          span {
            color: var(--main-gray);
          }
        }

        &-text {
          font-size: var(--fs-400);
        }
      }
    }

    @include custom-breakpoint(1221) {
      .metrics-element {
        .metric {
          flex-basis: 28.36%;
          max-width: 50%;
        }
      }
    }

    @include for-small-tablet-portrait {
      .metrics-element {
        gap: 4.4rem;
      }
    }

    @include for-tablet-portrait {
      .overview-element {
        flex-direction: column-reverse;
        gap: 5rem;

        .developer-element {
          .shape {
            max-width: 54.7rem;
          }
        }
      }
    }

    @include custom-breakpoint(821) {
      .metrics-element {
        .metric {
          max-width: 100%;
        }
      }
    }
  }
}

.features {
  background-color: var(--main-white);
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 9.8rem 0 9.8rem 0;

  .content {
    gap: 7.2%;

    .phone-element {
      max-height: 66.044rem;
      flex-shrink: 0;
      flex-basis: 35%;
      background-color: var(--main-black);
      border-radius: 3.6rem;
      aspect-ratio: 561 / 696;
    }

    .info-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      gap: 6rem;

      .text-element {
        .title {
          margin-bottom: 5rem;
        }
      }

      .cards-element {
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        .feature-card {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 3rem;
          flex-grow: 1;
          flex-basis: 100%;
          aspect-ratio: 279 / 200;
          border: .1rem solid #d1d1d1;
          border-radius: 7.96% / 9.56%;

          p {
            font-weight: 400;
          }
        }
      }
    }
  }

  @include for-tablet-landscape {
    .content {
      gap: 5rem;
      flex-direction: column-reverse;

      .info-element {
        gap: 3rem;

        .text-element {
          .title {
            max-width: 80%;
          }
        }

        .cards-element {
          .feature-card {

            aspect-ratio: 279 / 160;
          }
        }
      }
    }
  }

  @include for-small-tablet-portrait {
    .content {
      .info-element {
        .text-element {
          .title {
            max-width: initial;
          }
        }
      }
    }
  }

  @include for-phone-only {
    .content {
      .info-element {
        .cards-element {
          flex-wrap: wrap;

          .feature-card {
            border-radius: 2rem;
            aspect-ratio: initial;
            height: 15rem;
            align-items: center;
          }
        }
      }
    }
  }
}

.caracteristics {
  background-color: var(--main-black);
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 18.9rem 0 9.8rem 0;

  .content {
    flex-direction: column;
    gap: 5rem;

    .title-element {
      color: var(--main-white);
    }

    .grid-element {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      max-height: 60.2rem;
      flex-basis: 30vw;
      flex-grow: 1;
      // flex-wrap: wrap;

      .caracteristics-element {
        flex-grow: 1;
        display: flex;
        gap: 1rem;

        .card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 2rem;

          border-radius: 3.6rem;
          padding: 3rem 3rem;

          .card-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            &__down {
              justify-content: end;
            }

            img {
              margin-bottom: 1rem;
              width: 2.591rem;
            }
          }

          .not-aviable-yet {
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1 / 1;
            width: 3.5rem;
            padding: 10px;
            background-color: var(--main-black);
            border-radius: 9999rem;

            img {
              scale: .8;
            }
          }
        }

        .caracteristic-card__featured {
          flex-basis: 40.63%;

          background-color: lightgray;
        }

        .caracteristic-card {
          flex-basis: 29.36%;

          color: var(--main-white);
          background-color: #A3A3A3;
        }
      }

      .buttons-element {
        flex-basis: 16.5%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .caracteristic-button {
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: center;
          gap: 20%;
          flex-grow: 1;
          border: .1rem solid var(--dark-gray);
          border-radius: 3.6rem;
          padding: 2rem 0;
          text-decoration: none;

          .redirection-indicator {
            display: flex;
            gap: 1.5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon-container {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 9999rem;
              border: .1rem solid var(--dark-gray);
              aspect-ratio: 1 / 1;
              width: 60%;
            }

            p {
              color: var(--main-white);
              font-weight: 500;
              font-size: var(--fs-300);
            }
          }

          .redirect-icon {
            aspect-ratio: 1 / 0.8;
          }
        }
      }
    }

    @include for-tablet-landscape {
      .grid-element {
        flex-direction: column;
        max-height: initial;
        flex-basis: 54.2rem;

        .buttons-element {
          flex-direction: row;
          flex-basis: 28.5%;

          .caracteristic-button {
            .redirect-icon {
              display: none;
            }
          }
        }
      }
    }

    @include for-tablet-landscape {
      .grid-element {
        flex-basis: 45.2rem;
      }
    }

    @include custom-breakpoint(800) {
      .grid-element {
        flex-basis: initial;

        .caracteristics-element {
          flex-direction: column;
          flex-basis: 40rem;

          .card {
            flex-basis: inherit;
          }
        }
      }
    }

    @include custom-breakpoint(800) {
      .grid-element {
        .buttons-element {
          flex-direction: column;
        }
      }
    }
  }
}
