/* Main Breakpoints
--------------------------------------------- */

@mixin for-phone-only {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin for-small-tablet-portrait {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin for-tablet-portrait {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin for-tablet-landscape {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin custom-breakpoint($breakpoint) {
  @media (max-width: #{$breakpoint}px) {
    @content;
  }
}
