@import 'mixins';

.about {
  background-color: var(--main-white);
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 18.9rem 0 9.8rem 0;

  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    .overview-element {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 3rem;

      .text-element {
        flex-grow: 1;

        .title {
          margin-bottom: 5rem;
        }
      }

      .developer-element {
        flex-grow: 1;
        flex-basis: 39.98%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .shape {
          position: relative;
          border-radius: 45.3%/57.5% 0 0 0;
          border: .1rem solid var(--light-gray);
          aspect-ratio: 50.7 / 40;
          max-width: 45.7rem;
          width: 100%;
          height: auto;

          .developer {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50% , 0);
            width: 90%;
          }
        }
      }
    }

    .metrics-element {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      width: 100%;

      .metric {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-grow: 1;
        max-width: 28.36%;
        flex-basis: 33.8rem;
        min-width: 33.1rem;

        &-counter {
          font-weight: 700;
          font-size: var(--fs-500);
          color: var(--main-gray);

          span {
            color: initial;
          }
        }

        &-text {
          font-size: var(--fs-400);
        }

        @include custom-breakpoint(380) {
          min-width: 100%;
        }
      }
    }

    @include custom-breakpoint(1221) {
      .metrics-element {
        .metric {
          flex-basis: 28.36%;
          max-width: 50%;
        }
      }
    }

    @include for-small-tablet-portrait {
      .metrics-element {
        gap: 4.4rem;
      }
    }

    @include for-tablet-portrait {
      .overview-element {
        flex-direction: column-reverse;
        gap: 5rem;

        .developer-element {
          .shape {
            max-width: 54.7rem;
          }
        }
      }
    }

    @include custom-breakpoint(821) {
      .metrics-element {
        .metric {
          max-width: 100%;
        }
      }
    }
  }
}
