<section class="about">
  <article class="section-container">
    <div class="content">
      <div class="overview-element">
        <div class="text-element">
          <h2 class="title">I'm a Frontend <span class="black-outline">Developer_</span></h2>
          <p class="text">
            I'm a <b>highly skilled frontend developer</b> who's truly passionate about coding and continuous
            learning.
            <br><br>
            <b>My focus is on creating captivating user interfaces and enhancing user experiences.</b> In this
            ever-evolving field, I'm a
            catalyst for progress, pushing boundaries to deliver the best results 💪🏻🤗.
          </p>
        </div>
        <div class="developer-element">
          <div class="shape">
            <img src="/assets/images/francoder.png" alt="Francoder" class="developer">
          </div>
        </div>
      </div>
      <div class="metrics-element">
        <div class="metric">
          <h4 class="metric-counter">+15 <span>proyectos</span></h4>
          <p class="metric-text">I've been working around 15 Projects in which I had the opportunity of
            develop and apply my skills in a profesional field.</p>
        </div>
        <div class="metric">
          <h4 class="metric-counter">+5 <span>years</span></h4>
          <p class="metric-text">More than 5 years creating user experience and eye catching interfaces
            from design to development</p>
        </div>
        <div class="metric">
          <h4 class="metric-counter">+2 <span>companys</span></h4>
          <p class="metric-text">I have applied value to 2 Companys
            who witnessed my commitment</p>
        </div>
      </div>
    </div>
  </article>
</section>
